pymongo==4.2.0

# This line specifies a local editable installation of the current directory ('.').
# The '-e' option indicates an editable installation, meaning changes to the local code will be reflected immediately without needing to reinstall the package.
# This is useful during development when you want to make changes to your code and see the effects without reinstalling the package each time.
# The '.' refers to the current directory where the setup.py file is located. EDITABLE
-e . #editable mode ,will directly triggers setup.py file to run not require to run setup file